body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* ---------------------------------*/
/* Navbar */
.navbar {
    overflow: hidden;
    background: #333;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
button.login {
    background: red;
    color: white;
    padding: 12px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 15px;
}
button.login:hover {
    background: #d00c0c;
}
.navbar:after {
    content: '';
    display: block;
    clear: both;
}

/* ---------------------------------*/
/* Modal Login */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.modal-content {
    background: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 400px;
}
.imgContainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 30%;
    border-radius: 50%;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover {
    color: red;
    cursor: pointer;
}

.formContainer {
    padding: 16px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button[type=submit] {
    background: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}
button[type=submit]:hover {
    opacity: 0.8;
}
.signup {
    text-decoration: underline;
}
.signup:hover {
    color: #ff4040;
    cursor: pointer;
}


/* Add zoom animation*/
/*
.animate {
    animation: animateIsim 3s;
}

@keyframes animateIsim {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }
}
*/


/* Add zoom animation 
bu kodlar animasyon yapmak icin kullaniliyor
*/
.animate {
    animation: animateIsim 1s;
}

@keyframes animateIsim {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}